/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url("nav-vertical.css");

/* NAV BAR ON THE LEFT AND TWO COLUMNS OF CONTENT */
#content {
  position: relative;
  width: 766px;
}

#main {
  width: 366px;
  display: inline;
  float: right;
  margin-left: -160px;
  margin-right: 200px;
}

#local {
  display: none;
}

#sub {
  display: inline;
  float: right;
  margin-right: -426px;
  width: 180px;
}

#nav {
  float: left;
  width: 180px;
  display: inline;
}
