/* SITE-SPECIFIC STYLES */
@import url("../../core/assets/style/invisible.css");
@import url("../../core/assets/style/standard.css");

body {
  margin: 0;
  padding: 0;
  background: white;
  text-align: center;
}

#page {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  background: dimgray;
  text-align: center;
}

#header {
  position: relative;
  padding: 40px 20px;
  color: white;
  background: black;
  text-align: left;
}

#content {
  background: gray;
  margin: 20px auto;
  padding: 0;
  text-align: left;
}

#main div,
#sub div,
#local div {
  padding: 10px;
}

#main div div,
#sub div div,
#local div div {
  padding: 0;
}

#main {
  background-color: #eee;
}

#sub {
  background-color: #aaa;
}

#local {
  background-color: #ccc;
}

#footer {
  color: white;
  background-color: black;
  padding: 1.4em;
}

#footer p {
  font-size: 0.8em;
  margin: 0;
  padding: 10px;
}

.current {
  font-weight: bold;
}
