/* Main Screen Style */
@import url("css-framework/tools.css");
@import url("css-framework/typo.css");
/*
@import url("css-framework/layout-navoff-1col.css");
@import url("css-framework/layout-navleft-1col.css");
@import url("css-framework/layout-navleft-2col.css");
@import url("css-framework/layout-navtop-1col.css");
@import url("css-framework/layout-navtop-3col.css");
@import url("css-framework/layout-navtop-localleft.css");
@import url("css-framework/layout-navtop-subright.css");
*/
@import url("css-framework/layout-navtop-1col.css");
@import url("css-framework/layout.css");
