/* mod_random_content stylesheet */
div.random-content {
 padding:5px;
 margin:0.7em;
 border:2px ridge #c4c4c4;
}
div.random-content h2 {
 color:#222;
 font: bold 1.3em Georgia, "Times New Roman", Times, serif;
 font-style:italic;
 margin:0.4em;
 letter-spacing:0.05em
}
div div.random-content {
 background-color:#c8d4e3;
 background-image: url(../../images/shaded.gif);
 background-repeat: repeat-x;
 background-position: top left;
 border-top:3px solid #a2aece;
 border-left:1px solid #afbace;
 border-right:1px solid #afbace;
 border-bottom:1px solid #afbace;
}
#content .random-content p.more {
 margin-top:-0.7em;
 margin-bottom:0.7em;
 padding-bottom:0;
}
#content .random-content img {
 float:left;
 width:150px;
 height:auto;
 padding:0.4em 0.8em 0.8em 0.8em;
}