/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url("nav-vertical.css");

/* NAV BAR ON THE LEFT AND ONE COLUMN OF CONTENT */
div#content {
 position:relative;
 width:766px;
}
div#main {
 float:right;
 width:566px;
 display:inline;
}
div#local {
 display:none;
}
div#sub {
 display:none;
}
div#nav {
 float:left;
 width:180px;
 display:inline;
}